.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
  }
  
  .Header {
    padding: 2rem;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
  }
  
  .Header img {
    max-height: 80px;
  }
  
  .Header h1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .SiteTitle {
    display: flex;
    margin: 1rem auto;
    letter-spacing: 12px;
    font-family: 'Bebas Neue', cursive;
  }
  
  .SiteTitle a {
    text-decoration: none;
    color: var(--lightYellow);
    font-size: var(--lg);
  }
  